.mobile-hidden {
		display: block;
	}

@media screen and (max-width: 767px) {
	
	.mobile-hidden {
		display: none;
	}
	
}
a.pink:hover {
	background: #fff!important;
	color: #ed145b!important;
}
a.white:hover {
	background: #4622a8!important;
	color: #fff!important;
}
